[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-auth = "*"
google-cloud-storage = "*"
flask = "*"
google-cloud-discoveryengine = "*"

[dev-packages]

[requires]
python_version = "3.13"
